@using Kbry.MVC.ViewModels
@model IEnumerable<AttendanceViewModel>

@{
}
<h2><i class="fa fa-clock-o" aria-hidden="true"></i> Attendances</h2>

@(Html.Kendo().Grid<AttendanceViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(s => s.Date);
              columns.Bound(s => s.StudentName);
              columns.Bound(s => s.StudentClass).Width(150);
          })
          .HtmlAttributes(new { style = "height: 550px;" })
          .Scrollable()
          .Groupable()
          .Sortable()
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Sort(sort => sort.Add("Date").Descending())
              .Read(read => read.Action("GetAttendances", "Attendances"))
              .PageSize(15)
          ))