@using Kbry.MVC.ViewModels
@model IEnumerable<Kbry.MVC.ViewModels.StudentViewModel>

@{
    ViewBag.Title = "Students";
}

<h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> Students</h2>

@(Html.Kendo().Grid<StudentViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(s => s.FullName);
          columns.Bound(s => s.Email);
          columns.Bound(s => s.SchoolClassName);
          columns.Bound(s => s.RegistrationCode).Width(150);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
      })
      .HtmlAttributes(new { style = "height: 550px;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .ToolBar(toolbar => toolbar.Create())
      .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Student"))
      .Pageable(pageable => pageable
          .Refresh(true)
          .PageSizes(true)
          .ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("GetStudents", "Students"))
          .PageSize(15)
          .Model(model => model.Id(s => s.Email))
          .Create(update => update.Action("EditingPopup_Create", "Students"))
          .Update(update => update.Action("EditingPopup_Update", "Students"))
          .Destroy(update => update.Action("EditingPopup_Destroy", "Students"))

      ))