@using Kbry.MVC.ViewModels
@model IEnumerable<Kbry.MVC.ViewModels.SchoolClassViewModel>

@{
    ViewBag.Title = "Classes";
}

<h2><i class="fa fa-users" aria-hidden="true"></i> @ViewBag.Title</h2>


@(Html.Kendo().Grid<SchoolClassViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(s => s.Name).Width(250);
              columns.Bound(s => s.NumberOfStudents);
              columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
          })
          .HtmlAttributes(new { style = "height: 550px;" })
          .Scrollable()
          .Sortable()
          .ToolBar(toolbar => toolbar.Create())
          .Editable(editable => editable.Mode(GridEditMode.PopUp))
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(true)
              .ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Read(read => read.Action("GetSchoolClasses", "Classes"))
              .PageSize(15)
          .Model(model => model.Id(s => s.Id))
          .Create(update => update.Action("EditingPopup_Create", "Classes"))
          .Update(update => update.Action("EditingPopup_Update", "Classes"))
          .Destroy(update => update.Action("EditingPopup_Destroy", "Classes"))
          ))
