.custom-nav {
    margin-top: 40px;
}

.custom-navlinks {
    margin-left: 100px;
    margin-right: 100px;
}

.content-margin-top {
    margin-top: 100px;
}

th:hover {
     cursor: pointer;
}

.custom-logo {
    background-image: url('../Resources/icon1.png');
}